.card {
  object-fit: cover;
  border: none !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-body {
  .card-title {
    font-weight: 600;
    color: $dark;
    font-size: $font-primary-size;
  }
  .card-text {
    color: $green;
    font-weight: 600;
    font-size: $paragraph-size;
  }
}
