// custom colors

$primary: #73bcd9;
$secondary: #1b65a6;
$orange: #ff8066;
$green: #1dcc6e;
$light: #ffffff;
$dark: #404040;

// Beakpoints - Media queries

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
