.message {
  border: 2px solid lightgrey;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.01);
  margin-bottom: 1rem;
}

.message.error {
  border-color: $red;
  color: $light;
  background: $red;
}

.message.warning {
  border-color: $yellow;
  color: $light;
  background: $yellow;
}

.message.success {
  border-color: $green;
  color: $light;
  background: $green;
}
